# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
.yarn/*
**/node_modules/
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# production
**/dist

# build
**/*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map
tsconfig.tsbuildinfo

#coverage
.nyc_output
coverage
.self_coverage
self-coverage/
*.swp
needs-transpile.js

# misc
.DS_Store
**/*.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#exclusions
!.eslintrc.js
!.prettierrc.js

#settings
/settings

#pull request protect
/src/custom/*