#See https://help.github.com/ignore-files/ for more about ignoring files.

#dependencies
**/node_modules
**/node_modules/**

#production
**/dist
**/dist/**
**/out
**/out/**
**/.webpack
**/.docusaurus
**/*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map
**/tsconfig.tsbuildinfo
**/*.tgz

#coverage
.nyc_output
coverage
.self_coverage
self-coverage
self-coverage/**
*.swp
needs-transpile.js

#misc
**/.DS_Store
.idea
npm-debug.log*

#settings
**/*.env
/settings/**
!/settings/default_omnihive_server_config.json
!/settings/default_omnihive_server_config.yaml
!/settings/default_omnihive.env

#types
!**/types/**
!**/*.d.ts

#config
!**/.storybook/**
!**/postcss.config.js
!**/tailwind.config.js
!**/webpack.*.config.js
!**/webpack.config.js