
#dependencies
node_modules/**
**/node_modules/**
pnpm-*.log*

#build
dist/**
**/dist/**
**/*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map
tsconfig.tsbuildinfo

#test
.nyc_output
coverage
.self_coverage
self-coverage/
*.swp
needs-transpile.js

#settings
**/*.env
/settings/**
!/settings/default_omnihive_server_config.json
!/settings/default_omnihive_server_config.yaml
!/settings/default_omnihive.env

#types
!**/globals.omnihive.d.ts
!**/globals.omnihive.test.d.ts

#misc
**/.DS_Store
.idea