# See https://help.github.com/ignore-files/ for more about ignoring files.

node_modules/**
**/node_modules/**
dist/**
**/dist/**
**/tests
**/.DS_Store
**/*.env
**/tsconfig.tsbuildinfo
**/*.tgz
**/tsconfig.json
**/tsconfig.prod.json