{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "exclude": [
    "**/.yarn/**",
    "**/node_modules/**",
    "**/test/**",
    "**/packages/**/.next",
    "**/packages/**/.omnihive",
    "**/dist/**"
  ]
}